{% extends "base.html" %}
{% import 'bootstrap5/form.html' as wtf %}

{% block app_content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Список компонентов
            </div>
            {{ macros.table('components', ['Поставщик', 'Название', 'Остаток'], components) }}
        </div>
    </div>

    {% if session.role >= 1 %}
    <div class="col col-sm-3">
        {% if session.role >= 2 %}
        <div class="card">
            <div class="card-header">
                Добавить компонент
            </div>
            <div class="card-body">
                {{ wtf.render_form(form, button_style='secondary') }}
            </div>
        </div>
        <br>
        {% endif %}
        <div class="card">
            <div class="card-header">
                Приход
            </div>
            <div class="card-body">
                {{ wtf.render_form(add_form, button_style='secondary', action='/components/add_amount') }}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}